<main class="ui container">
  <h1 text-center margin-bottom>Som majiteľom parkovacieho miesta</h1>
  
  
  <h4 class="ui horizontal divider header">
    <i class="map marker alternate icon"></i>
    Poloha
  </h4>

  <div class="ui two column grid">
    <div class="row">
      <div class="four wide column">
        <label for="address">Adresa parkoviska</label>
      </div>
      <div class="twelve wide column">
        <div class="ui input" full-width>
          <input type="text">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="four wide column">
        Počet parkovacích miest
      </div>
      <div class="twelve wide column">
        <div class="ui input" full-width>
          <input type="text">
        </div>
      </div>
    </div>
  </div>

  <h4 class="ui horizontal divider header">
    <i class="euro sign icon"></i>
    Cena
  </h4>

  <div class="ui two column grid">
    <div class="row">
      <div class="four wide column">
        Cena na hodinu
      </div>
      <div class="twelve wide column">
        <div class="ui right labeled input">
          <input type="text">
          <div class="ui basic label">
            <i class="euro sign icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="four wide column">
        Cena na deň
      </div>
      <div class="twelve wide column">
        <div class="ui right labeled input">
          <input type="text">
          <div class="ui basic label">
            <i class="euro sign icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="ui horizontal divider header">
    <i class="car icon"></i>
    Parametre vozidla
  </h4>

  <div class="ui two column grid">
        <div class="row">
      <div class="four wide column">
        Maximálna výska vozidla
      </div>
      <div class="twelve wide column">
        <div class="ui input" full-width>
          <input type="text">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="four wide column">
        Maximálna šírka vozidla
      </div>
      <div class="twelve wide column">
        <div class="ui input" full-width>
          <input type="text">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="four wide column">
        Maximálna dĺžka vozidla
      </div>
      <div class="twelve wide column">
        <div class="ui input" full-width>
          <input type="text">
        </div>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui checkbox" d-block margin-bottom>
    <input type="checkbox" name="indoor">
    <label>Kryté parkovisko</label>
  </div>
  <div class="ui checkbox" d-block margin-bottom>
    <input type="checkbox" name="guarded">
    <label>Strážené parkovisko</label>
  </div>
  <div class="ui checkbox" d-block margin-bottom>
    <input type="checkbox" name="company">
    <label>Registrovať na firmu</label>
  </div>

  <div class="ui divider"></div>

  <button class="ui primary right floated button">
    Uložiť
  </button>

</main>