<div class="ui top menu fixed inverted">
  <a class="item" routerLink="/">ParkMonster</a>
  <a class="item" routerLink="/">O nás</a>
  <div *ngIf="!user" class="right menu">
    <a class="item" (click)="loginOpened = !loginOpened"><i class="user icon"></i> Prihlásenie</a>
    <a class="item" routerLink="/user/registration"><i class="user plus icon"></i> Registrácia</a>
    <a class="item" routerLink="/owner/registration"><i class="user plus icon"></i> Registrácia ako majiteľ</a>
  </div>
  <div *ngIf="user" class="right menu">
    <a class="item">Prihlásený: {{ user }}</a>
    <a class="item" (click)="logout()">Odhlásiť sa</a>
  </div>
</div>

<app-login *ngIf="loginOpened" (login)="login($event)" (closed)="loginOpened = !loginOpened; paymentOpened = false;"></app-login>
<app-payment [order]="order" *ngIf="paymentOpened" (closed)="paymentOpened = !paymentOpened"></app-payment>