<main class="ui container">
  <div *ngIf="!registered">
    <div class="ui message">
      <h1 class="ui header">Registrácia použivateľa</h1>
      <p>Polia označené symbolom * sú povinné.</p>
    </div>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    
      <div class="ui two column grid">
        <div class="row">
          <div class="four wide column">
            <label for="firstname">*Meno</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="text" name="firstname" ngModel>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="four wide column">
            <label for="surname">*Priezvisko</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="text" name="surname" ngModel>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <label for="surname">*Email</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="text" name="email" ngModel>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <label for="surname">*Telefónne číslo</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="text" name="phone" ngModel>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <label for="surname">*Heslo</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="password" name="password">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <label for="surname">*Potvrdenie hesla</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="password" name="confirm">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <label for="surname">*Adresa</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="text" name="address" ngModel>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <label for="surname">*Mesto</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="text" name="city" ngModel>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <label for="surname">Výška vozidla</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="text" name="height" ngModel>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <label for="surname">ŠPZ vozidla</label>
          </div>
          <div class="twelve wide column">
            <div class="ui input" full-width>
              <input type="text" name="code" ngModel>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>
    
      <button type="submit" class="ui primary right floated button">
        Registrovať
      </button>
    </form>
  </div>

  <div *ngIf="registered">
    <div class="ui message">
      <h1 class="ui header">Gratulujeme! Úspešne ste sa registrovali.</h1>
      <p>Informácie o registrácii boli odoslané na email.</p>
    </div>  

    <h3>Sumarizácia</h3>

    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2">Informácie o zákazníkovi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Name">Meno a priezvisko</td>
          <td data-label="Age">{{ info.firstname }} {{ info.surname }}</td>
        </tr>
        <tr>
          <td data-label="Name">Adresa</td>
          <td data-label="Age">{{ info.address }}</td>
        </tr>
        <tr>
          <td data-label="Name">Mesto</td>
          <td data-label="Age">{{ info.city }}</td>
        </tr>
        <tr>
          <td data-label="Name">Email</td>
          <td data-label="Age">{{ info.email }}</td>
        </tr>
        <tr>
          <td data-label="Name">Telefónne číslo</td>
          <td data-label="Age">{{ info.phone }}</td>
        </tr>
      </tbody>
    </table>

    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2">Informácie o vozidle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Name">ŠPZ vozidla</td>
          <td data-label="Age">{{ info.code }}</td>
        </tr>
        <tr>
          <td data-label="Name">Výška</td>
          <td data-label="Age">{{ info.height }}</td>
        </tr>
      </tbody>
    </table>

    <div class="ui divider"></div>

    <button class="ui primary right floated button" routerLink="/">
      Naspäť na hlavnú stránku
    </button>
  </div>
  
  </main>